{% extends "inc/base.html" %}
{% load static %}
{% block title %}
Tasker - Forget password
{% endblock %}
{% block content %}
  <div class="flex-grow-1 d-flex justify-content-center align-items-center my-5">
    <div class="col-lg-5 mx-auto p-5 bg-white rounded shadow-lg">
    <div class="text-center position-relative">
        <img class="rounded-circle p-2 position-absolute translate-middle negative-top width-100"  src="{% static 'asset/forgot-password.png' %}" alt="" />
    </div>
      <h3 class="mb-2 text-center pt-5">Forget Password?</h3>
      <p class="text-center lead">We send a link to reset your password</p>
      <form action="">
        <label class="fw-bolder" for="email">Email</label>
        <input class="form-control mt-2 mb-3 py-2 px-3" type="email" name="email" id="email" placeholder="Enter your email"/>
        <button class="btn btn-primary w-100 py-2 shadow-lg">Submit</button>
        <div class="text-center pt-4">
          <p>Do not have an account? <a class="text-dark fw-bold link-underline link-underline-opacity-0"href="#">Sign Up</a></p>
          <p>Do you already have an account? <a class="text-dark fw-bold link-underline link-underline-opacity-0"href="#">Login</a></p>
        </div>
      </form>
    </div>
  </div>
{% endblock %}