{% extends "inc/base.html" %}
{% block title %}
Password Reset Complete - Tasker
{% endblock %}
{% block content %}
  <div class="flex-grow-1 d-flex justify-content-center align-items-center my-5">
    <div class="col-lg-5 mx-auto p-5 bg-white rounded shadow-lg text-center">
      <h3 class="mb-4">Password Reset Complete</h3>
      <p class="lead text-muted">
        Your password has been successfully reset. You can now log in with your new password.
      </p>
      <a href="{% url 'accounts:login' %}" class="btn btn-primary">Log In</a>
    </div>
  </div>
{% endblock %}