{% extends "inc/base.html" %}
{% load static %}
{% block content %}
  <div class="flex-grow-1 d-flex justify-content-center align-items-center my-5">
    <div class="col-lg-5 mx-auto p-5 bg-white rounded shadow-lg">
      <div class="text-center position-relative">
        <img class="rounded-circle p-2 position-absolute translate-middle negative-top width-100" src="{% static 'asset/verify.png' %}" alt="" />
      </div>
      <h3 class="mb-2 text-center pt-5">Register</h3>
      <p class="text-center lead">Please enter your information</p>
      {% if form.errors %}
        <div class="alert alert-danger">
          {% for field, errors in form.errors.items %}
            {% for error in errors %}
              <p>{{ error }}</p>
            {% endfor %}
          {% endfor %}
        </div>
      {% endif %}
      <form method="post" action="{% url 'accounts:register' %}">
        {% csrf_token %}
        <label class="fw-bolder" for="firstName">First Name</label>
        <input class="form-control mt-2 mb-3 py-2 px-3" type="text" name="first_name" id="firstName" placeholder="Enter your first name" required />
        <label class="fw-bolder" for="lastName">Last Name</label>
        <input class="form-control mt-2 mb-3 py-2 px-3" type="text" name="last_name" id="lastName" placeholder="Enter your last name" required />
        <label class="fw-bolder" for="email">Email</label>
        <input class="form-control mt-2 mb-3 py-2 px-3" type="email" name="email" id="email" placeholder="Enter your email" required />
        <label class="fw-bolder" for="password">Password</label>
        <input class="form-control mt-2 mb-3 py-2 px-3" type="password" name="password" id="password" placeholder="Enter your password" required />
        <label class="fw-bolder" for="confirmPassword">Confirm Password</label>
        <input class="form-control mt-2 mb-3 py-2 px-3" type="password" name="confirm_password" id="confirmPassword" placeholder="Confirm your password" required />
        <button class="btn btn-primary w-100 py-2 shadow-lg" type="submit">REGISTER</button>
        <div class="text-center pt-4">
          <p>Do you already have an account? <a class="text-dark fw-bold link-underline link-underline-opacity-0" href="{% url 'accounts:login' %}">Login</a></p>
        </div>
      </form>
    </div>
  </div>
{% endblock %}